<!-- Launch file for Scara 4-DOF simulator -->
<launch>
<!-- Robot name as in controller -->
<param name="robot_description" textfile="$(find ecn_sensorbased)/urdf/pioneer.urdf" />
	
<!-- Simulator node -->
	<param name="use_gui" value="True"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="true" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find tps_robot)/launch/config.rviz" />
</launch>
